<!DOCTYPE html>
<html>
<head>
    <title>Genres Maintenance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Genres Maintenance</h1>
        <a href="/genres/new" class="btn btn-primary mb-4">Add New Genre</a>
        <div class="row">
            <% genres.forEach(genre => { %>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title"><%= genre.name %></h5>
                            <a href="/genres/edit/<%= genre.id %>" class="btn btn-warning">Edit</a>
                            <a href="/genres/delete/<%= genre.id %>" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>